<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row justify-content-md-center g-2">

                <!-- loop over the collection of product -->
                <div *ngFor="let tempProduct of products" class="col-md-3 ms-2 card" style="width: 18rem;">
                    <div class="product-box card-body">

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" alt="" class="card-img-top img-responsive">
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}" style="text-decoration: none; color: blue;">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>

                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn" style="text-decoration: none;">Add to cart</a>
                    </div>
                </div>

            <!-- Check if products empty then display message -->
            <div *ngIf="products.length == 0" class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <h5 class="alert-heading">No products found!</h5>
                </div>
            </div>
        </div>
    </div>
</div>